<div class="Result">
<h1>@ViewBag.Saludo, @ViewBag.Usuario.Nombre, ¿cómo van los @ViewBag.Edad?</h1>
<p> Mis condolencias: @ViewBag.Tip. </p>
<p> Te sugiero cocinar @ViewBag.Plato. </p>
<p> Este plato tiene una dificultad @ViewBag.dificultad. </p>
<p> Van a ir @ViewBag.Usuario.Cantidad personas. </p>
<p> Te vas a tardar @ViewBag.Tiempo minutos. </p>
</div>